@model IEnumerable<CameraDataWebApp.Controllers.Observation>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.observation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imageuri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.observationguid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.visitguid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.observation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imageuri)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.observationguid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.visitguid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
